{{#each genres}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <p>
      {{description}}
    </p>
    <a href="/gamelist/{{id}}" class="ui icon button">
      <i class="ui open folder icon "></i>
    </a>
    <a href="/review-board/deletegenre/{{id}}" class="ui icon button delgenre">
      <i class="ui trash icon"></i>
    </a>
  </section>
{{/each}}